langgraph
langchain-core
langchain_google_genai
langchain_openai
playwright
html2text
pandas
colorama
python-dotenv
bs4
pyyaml
matplotlib
seaborn
pillow
numpy
nltk
textstat
spacy
scikit-learn
icalendar
pytz
